<!-- institutions.ejs file-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="media/apple-icon.png">
    <link rel="icon" type="image/png" href="media/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Institutions
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'
    />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link rel="stylesheet" href="css/materialize.min.css">
    <link href="css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
</head>

<body>
    <div id='header'></div>
    <div class="main-panel" id='#mainPanel'>
            <!-- Navbar -->
          <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
              <div class="container-fluid">
              <div class="navbar-wrapper">
                <a class="navbar-brand" href="#pablo">Institutions</a>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="material-icons">person</i>
                      <span class="notification">4</span>
                      <p class="d-lg-none d-md-block">
                        User Profile
                      </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Id:<%= user.id %></a>
                      <a class="dropdown-item" href="#">UserName:<%= user.username %></a>
                      <a class="dropdown-item" href="#">Password:<%= user.password %></a></a>
                      <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- End Navbar -->
            <div class="content">
                    <div class="container-fluid">
                        <ul class="collapsible">
                            <li class="card" id="registeredInstitutionsCard">
                              <div class="collapsible-header">
                                  <div class="card-header card-header-primary">
                                      <h4 class="card-title ">Registered Institutions</h4>
                                      <p class="card-category"> Total Detials of the Schools / Institutions under TWD </p>
                                  </div>
                              </div>
                              <div class="collapsible-body">
                                  <div class="card-body">
                                      <div class="table-responsive">
                                        <form>
                                            <div class="row">
                                                <div class="input-field col-md-3">
                                                    <select id='districtsRegisteredInstitutions'>
                                                      <option value="null" disabled selected>Choose District</option>
                                                    </select>
                                                    <label style="padding-left:20px;">Districts</label>
                                                 </div>
                                                 <div class="input-field col-md-3 ">
                                                    <select id="mandalsRegisteredInstitutions">
                                                      <option value="null" disabled selected>Choose Mandal</option>
                                                    </select>
                                                    <label style="padding-left:20px;">Mandals</label>
                                                 </div>
                                                 <div class="input-field col-md-3 ">
                                                    <button id="getDataRegisteredInstitutions" type="button" class="btn btn-primary btn-round">Get Data</button>
                                                 </div>
                                                 <div class="input-field col-md-3 ">
                                                   <button id="printRegisteredInstitutions" type="button" class="btn btn-danger btn-round">Print</button>
                                                 </div>
                                              </div>
                                        </form>
                                        <table class="table table-hover">
                                          <thead class=" text-primary">
                                            <th>
                                              District
                                            </th>
                                            <th>
                                              Mandal
                                            </th>
                                            <th>
                                              Village 
                                            </th>
                                            <th>
                                              Institution
                                            </th>
                                            <th>
                                              Total No. Students
                                            </th>
                                          </thead>
                                          <tbody id="registeredInstitutions">
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                              </div>
                            </li>
                            <li class="card" id="verifiedInstitutionsCard">
                              <div class="collapsible-header">
                                  <div class="card-header card-header-primary">
                                      <h4 class="card-title ">Verified Institutions</h4>
                                      <p class="card-category"> Total Detials of the Schools / Institutions Verified in a particular time span. </p>
                                  </div>
                              </div>
                              <div class="collapsible-body">
                                  <div class="card-body">
                                      <div class="table-responsive">
                                        <form>
                                            <div>
                                                <p>All Fields Are Mandatory</p>
                                              </div>
                                            <div class="row">
                                                <div class="input-field col-md-3">
                                                    <select id='districtsVerifiedInstitutions'>
                                                      <option value="null" disabled selected>Choose District</option>
                                                    </select>
                                                    <label style="padding-left:15px;">Districts</label>
                                                 </div>
                                                 <div class="input-field col-md-3">
                                                    <select id="mandalsVerifiedInstitutions">
                                                      <option value="null" disabled selected>Choose Mandal</option>
                                                    </select>
                                                    <label style="padding-left:15px;">Mandals</label>
                                                 </div>
                                                 <div class="input-field col-md-1">
                                                    <select id="yearVerifiedInstitutions">
                                                      <option value="null" disabled selected>Year</option>
                                                    </select>
                                                    <label style="padding-left:15px;" >Year</label>
                                                 </div>
                                                 <div class="input-field  col-md-1">
                                                    <select id="monthVerifiedInstitutions">
                                                      <option value="null" disabled selected>Month</option>
                                                      <option value="01">01</option>
                                                      <option value="02">02</option>
                                                      <option value="03">03</option>
                                                      <option value="04">04</option>
                                                      <option value="05">05</option>
                                                      <option value="06">06</option>
                                                      <option value="07">07</option>
                                                      <option value="08">08</option>
                                                      <option value="09">09</option>
                                                      <option value="10">10</option>
                                                      <option value="11">11</option>
                                                      <option value="12">12</option>
                                                    </select>
                                                    <label style="padding-left:15px;">Month</label>
                                                 </div>
                                                 <div class="input-field  col-md-1">
                                                    <select id="startDateVerifiedInstitutions">
                                                      <option value="null" disabled selected>Day</option>
                                                      <option value="01">01</option>
                                                      <option value="02">02</option>
                                                      <option value="03">03</option>
                                                      <option value="04">04</option>
                                                      <option value="05">05</option>
                                                      <option value="06">06</option>
                                                      <option value="07">07</option>
                                                      <option value="08">08</option>
                                                      <option value="09">09</option>
                                                      <option value="10">10</option>
                                                      <option value="11">11</option>
                                                      <option value="13">13</option>
                                                      <option value="14">14</option>
                                                      <option value="15">15</option>
                                                      <option value="16">16</option>
                                                      <option value="17">17</option>
                                                      <option value="18">18</option>
                                                      <option value="19">19</option>
                                                      <option value="20">20</option>
                                                      <option value="21">21</option>
                                                      <option value="22">22</option>
                                                      <option value="23">23</option>
                                                      <option value="24">24</option>
                                                      <option value="25">25</option>
                                                      <option value="26">26</option>
                                                      <option value="27">27</option>
                                                      <option value="28">28</option>
                                                      <option value="29">29</option>
                                                      <option value="30">30</option>
                                                      <option value="31">31</option>
                                                    </select>
                                                    <label style="padding-left:15px;">Day to</label>
                                                </div>
                                                <div class="input-field  col-md-1">
                                                  <select id="endDateVerifiedInstitutions">
                                                    <option value="" disabled selected>Day</option>
                                                    <option value="01">01</option>
                                                    <option value="02">02</option>
                                                    <option value="03">03</option>
                                                    <option value="04">04</option>
                                                    <option value="05">05</option>
                                                    <option value="06">06</option>
                                                    <option value="07">07</option>
                                                    <option value="08">08</option>
                                                    <option value="09">09</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option value="25">25</option>
                                                    <option value="26">26</option>
                                                    <option value="27">27</option>
                                                    <option value="28">28</option>
                                                    <option value="29">29</option>
                                                    <option value="30">30</option>
                                                    <option value="31">31</option>
                                                  </select>
                                                  <label style="padding-left:15px;">Day</label>
                                               </div>
                                               <div class=" col-md-2">
                                                  <button id="getDataVerifiedInstitutions" type="button" class="btn btn-primary btn-round">Get Data</button>
                                                  <button id="printVerifiedInstitutions" type="button" class="btn btn-danger btn-round">&nbsp;&nbsp;Print&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                                </div>
                                              </div>
                                              
                                        </form>
                                        <table class="table table-hover">
                                          <thead class=" text-primary">
                                            <th>
                                              District
                                            </th>
                                            <th>
                                              Mandal
                                            </th>
                                            <th>
                                              Village 
                                            </th>
                                            <th>
                                              Institution
                                            </th>
                                            <th>
                                              Total No. Students
                                            </th>
                                          </thead>
                                          <tbody id="verifiedInstitutions">
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                              </div>
                            </li>
                            <li class="card" id="notVerifiedInstitutionsCard">
                              <div class="collapsible-header">
                                  <div class="card-header card-header-primary">
                                      <h4 class="card-title ">Not Verified Institutions</h4>
                                      <p class="card-category"> Total Detials of the Schools / Institutions Not Verified in a particular time span. </p>
                                  </div>
                              </div>
                              <div class="collapsible-body">
                                  <div class="card-body">
                                      <div class="table-responsive">
                                        <form>
                                            <div class="row">
                                                <div class="input-field col-md-3">
                                                    <select id='districtsNotVerifiedInstitutions'>
                                                      <option value="null" disabled selected>Choose District</option>
                                                    </select>
                                                    <label style="padding-left:15px;">Districts</label>
                                                 </div>
                                                 <div class="input-field col-md-3">
                                                    <select id="mandalsNotVerifiedInstitutions">
                                                      <option value="null" disabled selected>Choose Mandal</option>
                                                    </select>
                                                    <label style="padding-left:15px;">Mandals</label>
                                                 </div>
                                                 <div class="input-field col-md-1">
                                                    <select id="yearNotVerifiedInstitutions">
                                                      <option value="null" disabled selected>Year</option>
                                                    </select>
                                                    <label style="padding-left:15px;" >Year</label>
                                                 </div>
                                                 <div class="input-field  col-md-1">
                                                    <select id="monthNotVerifiedInstitutions">
                                                      <option value="null" disabled selected>Month</option>
                                                      <option value="01">01</option>
                                                      <option value="02">02</option>
                                                      <option value="03">03</option>
                                                      <option value="04">04</option>
                                                      <option value="05">05</option>
                                                      <option value="06">06</option>
                                                      <option value="07">07</option>
                                                      <option value="08">08</option>
                                                      <option value="09">09</option>
                                                      <option value="10">10</option>
                                                      <option value="11">11</option>
                                                      <option value="12">12</option>
                                                    </select>
                                                    <label style="padding-left:15px;">Month</label>
                                                 </div>
                                                 <div class="input-field  col-md-1">
                                                    <select id="startDateNotVerifiedInstitutions">
                                                      <option value="null" disabled selected>Day</option>
                                                      <option value="01">01</option>
                                                      <option value="02">02</option>
                                                      <option value="03">03</option>
                                                      <option value="04">04</option>
                                                      <option value="05">05</option>
                                                      <option value="06">06</option>
                                                      <option value="07">07</option>
                                                      <option value="08">08</option>
                                                      <option value="09">09</option>
                                                      <option value="10">10</option>
                                                      <option value="11">11</option>
                                                      <option value="13">13</option>
                                                      <option value="14">14</option>
                                                      <option value="15">15</option>
                                                      <option value="16">16</option>
                                                      <option value="17">17</option>
                                                      <option value="18">18</option>
                                                      <option value="19">19</option>
                                                      <option value="20">20</option>
                                                      <option value="21">21</option>
                                                      <option value="22">22</option>
                                                      <option value="23">23</option>
                                                      <option value="24">24</option>
                                                      <option value="25">25</option>
                                                      <option value="26">26</option>
                                                      <option value="27">27</option>
                                                      <option value="28">28</option>
                                                      <option value="29">29</option>
                                                      <option value="30">30</option>
                                                      <option value="31">31</option>
                                                    </select>
                                                    <label style="padding-left:15px;">Day to</label>
                                                </div>
                                                <div class="input-field  col-md-1">
                                                  <select id="endDateNotVerifiedInstitutions">
                                                    <option value="" disabled selected>Day</option>
                                                    <option value="01">01</option>
                                                    <option value="02">02</option>
                                                    <option value="03">03</option>
                                                    <option value="04">04</option>
                                                    <option value="05">05</option>
                                                    <option value="06">06</option>
                                                    <option value="07">07</option>
                                                    <option value="08">08</option>
                                                    <option value="09">09</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option value="25">25</option>
                                                    <option value="26">26</option>
                                                    <option value="27">27</option>
                                                    <option value="28">28</option>
                                                    <option value="29">29</option>
                                                    <option value="30">30</option>
                                                    <option value="31">31</option>
                                                  </select>
                                                  <label style="padding-left:15px;">Day</label>
                                               </div>
                                               <div class=" col-md-2">
                                                  <button id="getDataNotVerifiedInstitutions" type="button" class="btn btn-primary btn-round">Get Data</button>
                                                  <button id="printNotVerifiedInstitutions" type="button" class="btn btn-danger btn-round">&nbsp;&nbsp;Print&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                                </div>
                                              </div>
                                              <div>
                                                <p>All Fields Are Mandatory</p>
                                              </div>
                                        </form>
                                        <table class="table table-hover">
                                          <thead class=" text-primary">
                                            <th>
                                              District
                                            </th>
                                            <th>
                                              Mandal
                                            </th>
                                            <th>
                                              Village 
                                            </th>
                                            <th>
                                              Institution
                                            </th>
                                            <th>
                                              Total No. Students
                                            </th>
                                          </thead>
                                          <tbody id="notVerifiedInstitutions">
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                              </div>
                            </li>
                            <li>
                              <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                            </li>
                          </ul>
                    </div>
            </div>
            <footer class="footer" id='footer_JS'>
                <div class="container-fluid">
                    <nav class="float-left black-text navbar navbar-expand-lg navbar-transparent">
                      <ul>
                        <li>
                          <a href="#Developers">
                            DESIGNED AND DEVELOPED BY
                          </a>
                        </li>
                        <li>
                          <a href="mailto:j.kishor.bd@gmail.com">
                            Nanda Kishor Jeripothula
                          </a>
                        </li>
                        <li>
                          <a href="mailto:krishnakathala@gmail.com">
                            Krishna Chaitanya Rao Kathala
                          </a>
                        </li>
                        <li>
                          <a href="mailto:sankeerthrao.vonna@gmail.com">
                            Sankeerth Rao Vonna
                          </a>
                        </li>
                        <li>
                          <a href="mailto:sudheeshna.katakam@gmail.com">
                            Sudheeshna Katakam
                          </a>
                        </li>
                      </ul>
                    </nav>
                    <div class="copyright float-right">
                      &copy;
                      <script>
                        document.write(new Date().getFullYear())
                      </script>, In <i class="fa fa-handshake-o"></i> with Government Of Telangana,
                      <a href="twd.telangana.gov.in" target="_blank">Telangana Welfare Department</a> 
                    </div>
                  </div>
            </footer>
    </div>
    <div class="wrapper" id='sideMenu'>
    </div>
    </div>
    <!--CORE JS FILES HERE-->
    <script src="js/ui.js"></script>
    <!--   Core JS Files   -->
    <script src="js/core/jquery.min.js" type="text/javascript"></script>
    <script src="js/core/popper.min.js" type="text/javascript"></script>
    <script src="js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Chartist JS -->
    <script src="js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="js/material-dashboard.js" type="text/javascript"></script>
    <script src="js/materialize.min.js" type="text/javascript"></script>
    <!-- Material Dashboard -->
    <!--ACCESS_POINTS-->
    <script src="js/accesspoints.js"></script>
    <script src="js/institutions.js"></script>
    
</body>

</html>